.paper-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  flex-direction: column;
}

.forgotPassword-form {
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

.forgotPassword-submit {
  margin: 3px, 0px, 2px;
  text-align: center;
}
